{% extends 'base.html' %}
{% load static %}
{% block title %}
  Востребованность
{% endblock %}
{% block content %}
  <main>
    <div class="container p-5">
      <h3>
        Изменение средней зарплаты за последние 20 лет
      </h3>
      <canvas id = "chart_table_years1"></canvas>
      <h3>
        Изменение количества вакансий за последние 20 лет
      </h3>
      <canvas id = "chart_table_years2"></canvas>
      <table id = "table_years" class = "data">
        <thead>
          <tr>
            <th>
              Год
            </th>
            <th>
              Средняя з/п
            </th>
            <th>
              Кол-во вакансий
            </th>
          </tr>
        </thead>
        <tbody>
          {% for year in years %}
            {% if forloop.counter == 6 %}
              <tr id = 'btn_table2'>
                <th>
                  <button class = "table_btn" id = "table2">
                    Показать еще
                  </button>
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            {% endif %}
            <tr class = "{% if forloop.counter > 5 %}hidden table2{% endif %}">
              <th>
                {{ year.year }}
              </th>
              <th>
                {{ year.average_salary }}
              </th>
              <th>
                {{ year.count }}
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}