{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main>
    <img src="{% static 'img/meme.jpg' %}" alt="<p>картинка</p>">
    <div class="container py-5">
      <h1>О C++ программистах</h1>
      <p>
        C++ разработчик — это программист, специализирующийся на языке C++, который используется для создания программ и приложений.
        Это язык общего назначения, который позволяет создавать сложные и эффективные приложения.
      </p>
      <h3>
        C++ программисты могут заниматься различными задачами, вот некоторые из них:
      </h3>
      <p>
        Разрабатывать системное программное обеспечение: операционные системы, драйвера устройств, файловые системы.
      </p>

Разрабатывать встраиваемые системы. C++ позволяет создавать программное обеспечение для встраиваемых систем, например, роутеров, микроконтроллеров, автомобильных систем и промышленных устройств.

Разрабатывать мобильные приложения с использованием фреймворков, например, Qt или Android NDK, C++ программисты могут создавать высокопроизводительные мобильные приложения для платформ Android и iOS.
    </div>
  </main>
{% endblock %}