{% load static %}
{% with request.resolver_match.view_name as view_name %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <div class="row container-fluid">
      <div class="col-4 col-md-3 col-xl-2" style = "padding: 0">
        <nav class="navbar navbar-light"  style="display: block; height: 100%; background-color: lightskyblue">
          <ul class="nav nav-pills" style = "flex-direction: column; ">
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'main:all' %}active{% endif %}" href="{% url 'main:all' %}">
              Общая статистика
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'years_stat:popularity' %}active{% endif %}" href="{% url 'years_stat:popularity' %}">
              Востребованность
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'cities_stat:geography' %}active{% endif %}" href="{% url 'cities_stat:geography' %}">
              География
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'skills_stat:skills' %}active{% endif %}" href="{% url 'skills_stat:skills' %}">
              Навыки
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'last:last' %}active{% endif %}" href="{% url 'last:last' %}">
              Последние вакансии с HH.ru
            </a>
          </li>
          {% block navigation %}
          {% endblock %}
        </ul>
        </nav>
      </div>
      <div class="col-8 col-md-9 col-xl-10">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% include 'includes/footer.html' %}
    <script src = "{% static 'js/tables_show.js' %}"></script>
    <script src = "{% static 'js/write_charts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
{% endwith %}